################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teatapp/Testnetproj/.vs/Testnetproj/v15/Server/sqlite3
